.register{
    width: 100%;
    margin-left: 80px;
    margin-right: 80px;
}


.head{
    text-align: center;
}

.form__box{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.form__input{
    text-align: center;
    margin-top: 20px;
    background-color: aquamarine;
}