:root{
    --color-main: rgb(223, 248, 241);
    --color-conc: rgb(6, 250, 250);
    --color-header: rgb(94, 182, 255);

}

.font-300{
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 300;
}

.font-300-kur{
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: italic;
    font-weight: 300;
}

.font-700{
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: normal;
    font-weight: 700;
}