.register {
  width: 100%;
  margin-left: 80px;
  margin-right: 80px;
}

.head {
  text-align: center;
}

.form__box {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.form__input {
  text-align: center;
  margin-top: 20px;
  background-color: aquamarine;
}

:root {
  --color-main: rgb(223, 248, 241);
  --color-conc: rgb(6, 250, 250);
  --color-header: rgb(94, 182, 255);
}

.font-300 {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 300;
}

.font-300-kur {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: italic;
  font-weight: 300;
}

.font-700 {
  font-family: "Open Sans Condensed", sans-serif;
  font-style: normal;
  font-weight: 700;
}

.page {
  background-color: var(--color-main);
}

a {
  color: black;
}

.header {
  background-color: var(--color-header);
  height: 50px;
  padding-left: 200px;
  padding-right: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
}

.header__left {
  height: 100%;
  display: flex;
}

.header__right {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.header__elem {
  padding-left: 10px;
  padding-right: 10px;
  color: black;
  display: flex;
  align-items: center;
}

button.header__elem {
  background-color: transparent;
  border: none;
}

.header__account-menu {
  list-style: none;
  display: none;
}

.header__elem:hover {
  background-color: var(--color-header);
  filter: brightness(0.9);
  text-decoration: none;
}

